{% extends '::base.html.twig' %}

{% block javascripts %}

    <script>
        var options = {};
        $('a.popup').popup(options);
    </script>
    
        <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>

{% endblock %}

{% block body %}



    <div class="content">
        <div class="container">
            <h2>Pokoje</h1> 
             <div class="col-md-2">
          <div class="thumbnail">



             <img src="{{asset('bundles/expenses/images/image.jpg') }}">                    

          </div>
      </div>
            
            
            <p>Obiekt dysponuje 50 miejscami w pokojach dwu, trzy i czteroosobowych oraz w apartamentach.
                Wszystkie pokoje posiadają łazienki, wyposażone sa w telewizor z TV SAT, większość z nich posiada balkony na stronę południową z widokiem na Tatry.
               biekt dysponuje 50 miejscami w pokojach dwu, trzy i czteroosobowych oraz w apartamentach.
                Wszystkie pokoje posiadają łazienki, wyposażone sa w telewizor z TV SAT, większość z nich posiada balkony na stronę połudn
                </br>
                <br><br> 1 osobowy pokoj - 40 zł. </br>
                2 osobowy pokoj - 100 zł </br>
                3 osobowy pokoj - 150 zł </br>
            </p>

            <div id="tabs">
                
                <ul>
                <li><a href="#tabs-1">Pokoje jedno - osobowe</a></li>
                <li><a href="#tabs-2">Pokoje dwu-osobowe</a></li>
                <li><a href="#tabs-3">Pokoje trzy-osobowe</a></li>
                </ul> 
             

            <div id="tabs-1">
                
                
                <div class="col-md-2">
                     <div class="thumbnail">



                    <a href="http://placehold.it/350x175.png" class="popup"> <img src="http://goo.gl/0Kd7UO"></a>                    

                </div>


                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>                    


                </div>

                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>    

                </div>
                </div>
                
                                <div class="col-md-2">
                     <div class="thumbnail">



                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>                    

                </div>


                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>                    


                </div>

                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>    

                </div>
                </div>  
                
                                <div class="col-md-2">
                     <div class="thumbnail">



                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>                    

                </div>


                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>                    


                </div>

                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>    

                </div>
                </div>  
                
                                <div class="col-md-2">
                     <div class="thumbnail">



                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>                    

                </div>


                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>                    


                </div>

                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>    

                </div>
                </div>  
                
                                <div class="col-md-2">
                     <div class="thumbnail">



                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>                    

                </div>


                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>                    


                </div>

                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>    

                </div>
                </div>  
                                <div class="col-md-2">
                     <div class="thumbnail">



                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>                    

                </div>


                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>                    


                </div>

                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>    

                </div>
                </div>  
                
                <p>DAWGEWGERTHRTGWADSZFRDHTRHTRBDXVSDHTRHDFDgdf</p>
                
            </div>
            
            
            <div id="tabs-2">
                
                
                  <div class="col-md-2">
                     <div class="thumbnail">



                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>                    

                </div>


                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>                    


                </div>

                <div class="thumbnail">

                    <a href="http://placehold.it/350x175.png" class="popup"><img src="http://goo.gl/0Kd7UO"></a>    

                </div>
                </div>
                lel
              
                
            </div>
            <div id="tabs-3">
                
                
            </div>
</div>
           




            </div>

            <div style="clear:both"></div>



        </div>
    



{% endblock %}