body {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    
}

#googleMap{
    margin: auto;
   margin-top:-20px;
   
    
}

.alt2
{
background:#333;
min-height:150px;
color:#fff;
text-align:left;
}

.rejestration{
    
    text-align: center;
}
 
.menu {
    background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
    left: -285px;  /* start off behind the scenes */
    height: 100%;
    position: fixed;
    width: 285px;
}



.menu ul {
    border-top: 1px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #636366;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
}

.icon-menu {
    color: black;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-left: 25px;
    position:relative;
    top:-30px;
    
    text-decoration: none;
    text-transform: uppercase;
    
    
}

.icon-menu i {
    margin-right: 3px;
}

.logo {
  background-image:url('http://goo.gl/04j7Nn');
  height: 500px;
  position:relative;
  top:-20px;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.logo .text {
  position: relative;
  top:140px;
}

.logo h1 {
  color: #fff;
  font-size: 40px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: left;
}

.logo p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #efefef;
  
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.content {
    
    background-color: #efefef;
    border-bottom:1px solid #dbdbdb;
    font-family: 'Almendra', sans-serif;
    
    
}

.content h2 {
    
    color:#393c3d;
    font-size:50px;
    text-align: center;
    
    }
    

    
.content p{
    
    font-size:23px;
    margin-bottom:13px;
   
}




.popup_back {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.popup_cont {
	position: fixed;
	z-index: 102;
}

.preloader {
	z-index: 101;
}



.popup_close {
	color: #888;
	cursor: pointer;
	position: absolute;
	padding: 5px;
	right: 5px;
	top: 0;
}

.popup_close:hover {
	color: #111;
}

.popup_back {
	cursor: pointer;
	background-color: #222;
}

div.popup {
	background: #fff;
	padding: 25px;
	box-shadow: 0 3px 10px #222;
}

.preloader {
	left: 50%;
	margin: -10px 0 0 -25px;
	position: fixed;
	top: 50%;
}
/* RESTAURACJA =========================================================  */
/* RESTAURACJA  ======================================================== */
/* RESTAURACJA  ========================================================= */
p {
  margin: 0;

}

.row {
  margin: 0;
 
}

.articles {
  margin-top: 30px;
  margin-bottom: 30px;
}

.article {
  color: #222;
  background: rgba(255,255,255,.9);
  border-spacing: 2px;
  border-color: gray;
  font-family: arial,sans-serif;
  border-bottom: 1px #e5e5e5 solid;
}

.current .item {
  background: rgba(206,220,206,.9);
}

.item {
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  
}

.item .source {
  margin-left: 20px;
}

.item .title {
  font-weight: bold;
    font-family: 'Amarante', sans-serif;
}

.item .pubdate {
  margin-right: 20px;
}

.item .pubdate {
  text-align: right;  
}

.description {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.description h1 {
  margin-top: 0px;
  font-size: 23px;
}

.footer, .footer p {
	width: 800px;
	float: left;
	font-size: 15px;
	margin: 0 auto;
	color: #999;
        
}

